#wrapper{
    width: 1900px;
    min-height: 600px;
    margin: 0 auto; 
}
#logo-menu{
    width: 98%;
    height: 120px;
    margin: 0 auto;  
}
#logo{
    height: 90px;
    width: auto;  
}
#menu{
    height: 50px;
    width: 40%;
    margin: 0 auto;
}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline;
    float: left;
}
#menu a{
    color: black;
    margin: 10px;
    padding: 2px;
    position: relative;
    left: 1020px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
}
#contents{
    width:99%;
    min-height: 750px;
    margin: 10px;
}
#pic-content{
    width: 98%;
    height: 220px;
    margin: auto;
}
#pic{
    width: auto;
    float: left;
    position: relative;
    bottom: auto;  
}
#pic2{
    width: auto;
    float: right;
    position: relative;
    right: auto;
}
#pic4{
    float: right;
    position: relative;
    right: auto;
    bottom: 404px;
}
#pic5{
    float: left;
    position: relative;
    left: 225px;
    bottom: 350px;
}
#pic6{
    position: relative;
    top: 820px; 
    left: 300px;
}
#pic7{
    position: relative;
    bottom: 400px;
    left: 730px;
}
#pic9{
    position: relative;
    bottom: 350px;
    left: 1100px;
    float: left;
}
#pic10{
    position: relative;
    bottom: 350px;
    left: 200px;
    float: left;
}
#block{
    width: 1300px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    bottom: 300px;
}
div[id^='block-'] {
    width: 200px;
    height: 190px;
    margin: 10px;
    float: left;
}
#man-text{
    position: absolute;
    bottom: 500px;
    left: 775px;
}
#life-text{
    position: absolute;
    top: 1200px;
    right: 1290px;
    display: none;
}#pirate-text{
    position: absolute;
    top: 1200px;
    right: 100px;
    display: none;
}
.bubble {
    font-family: 'Fredoka One', cursive;
    height: 50px;
  	width: 200px;
  	background-color: white;
  	border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
#footer{
    position: relative;
    top: 1820px;
    font-size: 30px;
    
}
#footer p{
    font-family: 'Nunito', sans-serif;
}
#footer span{
    font-family: 'Patrick Hand', cursive;
}
#texts{
    position: absolute;
    bottom: 600px;
    left: 500px;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
}
#texts2{
    position: absolute;
    bottom: 450px;
    left: 260px;
    font-family: 'Patrick Hand', cursive;
    font-size: 80px;
}
#text5{
    position: absolute;
    bottom: 600px;
    left: 800px;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}
#text7{
    position: absolute;
    bottom: 430px;
    left: 800px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
#text8{
    position: absolute;
    bottom: 200px;
    left: 800px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
}
