#wrapper{
    width: 1900px;
    min-height: 600px;
    margin: 0 auto; 
}
#logo-menu{
    width: 98%;
    height: 120px;
    margin: 0 auto;  
}
#logo{
    height: 70px;
    width: auto;  
}
#menu{
    height: 40px;
    width: 40%;
    margin: 0 auto;
}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline;
    float: left;
}
#menu a{
    color: black;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    position: relative;
    left: 930px;
    font-size: 30px;
    text-decoration: none;
}
#contents{
    width:99%;
    min-height: 750px;
    margin: 10px;
}
#pic-content{
    width: 98%;
    height: 220px;
    margin: auto;
}
#pic{
    width: auto;
    float: left;
    position: relative;
    bottom: auto;  
}
#pic2{
    width: auto;
    float: right;
    position: relative;
    right: auto;
}
#pic4{
    float: right;
    position: relative;
    right: auto;
    bottom: 404px;
}
#pic5{
    float: left;
    position: relative;
    left: 225px;
    bottom: 350px;
}
#pic6{
    position: relative;
    top: 820px; 
    left: 300px;
}
#pic7{
    position: relative;
    bottom: 400px;
    left: 730px;
}
#block{
    width: 1300px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    bottom: 300px;
}
div[id^='block-'] {
    width: 200px;
    height: 190px;
    margin: 10px;
    float: left;
}
#man-text{
    position: absolute;
    bottom: 500px;
    left: 775px;
}
#life-text{
    position: absolute;
    top: 1200px;
    right: 1290px;
    display: none;
}#pirate-text{
    position: absolute;
    top: 1200px;
    right: 100px;
    display: none;
}
.bubble {
    font-family: 'Fredoka One', cursive;
    height: 50px;
  	width: 200px;
  	background-color: white;
  	border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
#footer{
    position: relative;
    top: 1359px;
    right: 250px;
    font-size: 25px;
    
}
#footer p{
    font-family: 'Nunito', sans-serif;
}
#footer span{
    font-family: 'Patrick Hand', cursive;
}